/* CSS file */

@namespace admin "com.ebillity.core.view.ui.admin.*";
@namespace components "com.ebillity.core.view.ui.components.*";
@namespace employee "com.ebillity.core.view.ui.employee.*";
@namespace login "com.ebillity.core.view.ui.login.*";
@namespace main "com.ebillity.core.view.ui.main.*";
@namespace core "com.ebillity.core.view.ui.core.*";

admin|AdminView
{
	skinClass:ClassReference("com.ebillity.skin.ui.admin.AdminViewSkin");
}

components|Dashboard
{
	skinClass:ClassReference("com.ebillity.skin.ui.components.DashboardSkin");
}

components|ExpenseEntry
{
	skinClass:ClassReference("com.ebillity.skin.ui.components.ExpenseEntrySkin");
}

components|ManageEntries
{
	skinClass:ClassReference("com.ebillity.skin.ui.components.ManageEntriesSkin");
}

components|ManageEntries
{
	skinClass:ClassReference("com.ebillity.skin.ui.components.ManageEntriesSkin");
}

components|MyEntries
{
	skinClass:ClassReference("com.ebillity.skin.ui.components.MyEntriesSkin");
}

components|Settings
{
	skinClass:ClassReference("com.ebillity.skin.ui.components.SettingsSkin");
}

components|TimeEntry
{
	skinClass:ClassReference("com.ebillity.skin.ui.components.TimeEntrySkin");
}

employee|EmployeeView
{
	skinClass:ClassReference("com.ebillity.skin.ui.employee.EmployeeViewSkin");
}

login|LoginView
{
	skinClass:ClassReference("com.ebillity.skin.ui.login.LoginViewSkin");
}


main|MainView
{
	skinClass:ClassReference("com.ebillity.skin.ui.main.MainViewSkin");
}

core|MenuPanel
{
	skinClass:ClassReference("com.ebillity.skin.ui.core.MenuPanelSkin");
}

core|TimePanel
{
	skinClass:ClassReference("com.ebillity.skin.ui.core.TimePanelSkin");
}

core|StatusPanel
{
	skinClass:ClassReference("com.ebillity.skin.ui.core.StatusPanelSkin");
}















