/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

@font-face { 
	src: url("fonts/OpenSans-Regular.ttf"); 
	fontFamily: "OpenSansRegular"; 
	embedAsCFF: true; 
}
@font-face { 
	src: url("fonts/OpenSans-Bold.ttf"); 
	fontFamily: "OpenSansBold"; 
	embedAsCFF: true; 
}




s|Label 
{
	fontFamily:  "OpenSansRegular";
}

.OpenSansBoldlabel
{
	fontFamily: "OpenSansBold";
}

s|TextInput
{
	fontFamily:  "OpenSansRegular";
}