/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace controls "com.ebillity.core.view.ui.controls.*";
@namespace supportClasses "spark.globalization.supportClasses.*";

@font-face { 
	src: url("fonts/OpenSans-Regular.ttf"); 
	fontFamily: "OpenSansRegular"; 
	embedAsCFF: true; 
}
@font-face { 
	src: url("fonts/OpenSans-Regular.ttf"); 
	fontFamily: "OpenSansRegularNoCFF"; 
	embedAsCFF: false; 
}
@font-face { 
	src: url("fonts/OpenSans-Bold.ttf"); 
	fontFamily: "OpenSansBold"; 
	embedAsCFF: true; 
}
@font-face { 
	src: url("fonts/OpenSans-Semibold.ttf"); 
	fontFamily: "OpenSansSemibold"; 
	embedAsCFF: true; 
}


s|Label 
{
	fontFamily:  "OpenSansRegular";
}

.OpenSansBoldlabel
{
	fontFamily: "OpenSansBold";
}

s|TextInput
{
	fontFamily:  "OpenSansRegular";
}
.OpenSans_Semibold
{
	fontFamily:"OpenSansSemibold";
}
.mainMenu{
	fontSize:14;
	textAlign:left;
	borderVisible:false;
	color:#BBBBBB;
	backgroundColor:#414042;
	contentBackgroundColor:#414042;
	rollOverColor:#BBBBBB;
}



.OpenSans_Semibold
{
	fontFamily: "OpenSansSemibold";
}
#menuButton 
{
	skin: Embed("/images/PopUpButtonMenuModified.png");
}
s|Form
{
	skinClass:ClassReference("spark.skins.spark.StackedFormSkin");
}

s|FormHeading
{
	skinClass:ClassReference("spark.skins.spark.StackedFormHeadingSkin");
}
s|FormItem
{
	skinClass:ClassReference("com.ebillity.skin.ui.controls.FormItemCustomSkin");
	fontFamily:"OpenSansRegular";
	
}

s|TextInput
{
	skinClass: ClassReference("com.ebillity.skin.ui.controls.TextInputSkin");
	borderColor: #b8b6b6;
	borderVisible: "true";
}

controls|ColorButton
{
	color: #ffffff;
	fontSize: 18;
	skinClass: ClassReference("com.ebillity.skin.ui.controls.ColorButtonSkin");
}

s|ComboBox
{
	skinClass:ClassReference("com.ebillity.skin.ui.controls.CustomComboBoxSkin");
}

mx|DateField
{
	fontFamily: "OpenSansRegularNoCFF";
}
 mx|TextInput, mx|UIComponent
{
	fontFamily: "OpenSansRegularNoCFF";
}