/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

@font-face { 
	src: url("fonts/OpenSans-Regular.ttf"); 
	fontFamily: "OpenSansRegular"; 
	embedAsCFF: true; 
}
@font-face { 
	src: url("fonts/OpenSans-Bold.ttf"); 
	fontFamily: "OpenSansBold"; 
	embedAsCFF: true; 
}
@font-face { 
	src: url("fonts/OpenSans-Semibold.ttf"); 
	fontFamily: "OpenSansSemibold"; 
	embedAsCFF: true; 
}


s|Label 
{
	fontFamily:  "OpenSansRegular";
}

.OpenSansBoldlabel
{
	fontFamily: "OpenSansBold";
}

s|TextInput
{
	fontFamily:  "OpenSansRegular";
}
.OpenSans_Semibold
{
	fontFamily:"OpenSansSemibold";
}
.mainMenu{
	fontSize:14;
	textAlign:left;
	borderVisible:false;
	color:#BBBBBB;
	backgroundColor:#414042;
	contentBackgroundColor:#414042;
	rollOverColor:#BBBBBB;
}