/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace controls "com.ebillity.core.view.ui.controls.*";
@namespace supportClasses "spark.globalization.supportClasses.*";
@namespace controls1 "com.ebillity.skin.ui.controls.*";

@font-face { 
	src: url("fonts/OpenSans-Regular.ttf"); 
	fontFamily: "OpenSansRegular"; 
	embedAsCFF: true; 
}
@font-face { 
	src: url("fonts/OpenSans-Regular.ttf"); 
	fontFamily: "OpenSansRegularNoCFF"; 
	embedAsCFF: false; 
}
@font-face { 
	src: url("fonts/OpenSans-Bold.ttf"); 
	fontFamily: "OpenSansBold"; 
	embedAsCFF: true; 
}
@font-face { 
	src: url("fonts/OpenSans-Semibold.ttf"); 
	fontFamily: "OpenSansSemibold"; 
	embedAsCFF: true; 
}
@font-face{
	src: url("fonts/OpenSans-Light.ttf");
	fontFamily:"OpenSansLight";
	embedAsCFF: true;
}

s|Label 
{
	fontFamily:  "OpenSansRegular";
}

controls|ColorButton s|Label
{
	
	fontFamily: "OpenSansRegular";
}

.OpenSanssLightLabel
{
	fontFamily: "OpenSansLight";
}
.OpenSansBoldlabel
{
	fontFamily: "OpenSansBold";
}

.OpenSans_Semibold
{
	fontFamily: "OpenSansSemibold";
}

.mainMenu , .TimerMenu{
	fontSize:14;
	textAlign:left;
	borderVisible:false;
	color:#f1f1f2;
	backgroundColor:#414042;
	contentBackgroundColor:#414042;
	rollOverColor:#BBBBBB;
	separatorColor:#ffffff;
	separatorSkin:ClassReference("com.ebillity.skin.ui.core.MySeparatorskin");
	

}
.TimerMenu{
	
	textAlign:left;
	backgroundColor:#353435;
	contentBackgroundColor:#353435;
	horizontalGap:20;
	separatorSkin:ClassReference("com.ebillity.skin.ui.core.MySeparatorskin");
	
	
}

#timerMenu
{
	skin:Embed("/images/threePointIcon.png");

}

#menu
{
	skin: Embed("/images/PopUpButtonMenuModified.png");
}

s|Form
{
	skinClass:ClassReference("com.ebillity.skin.ui.controls.Form.FormCustomSkin");
}

s|FormHeading
{
	skinClass:ClassReference("com.ebillity.skin.ui.controls.Form.CustomFormHeadingSkin");
}
s|FormItem
{	
	skinClass:ClassReference("com.ebillity.skin.ui.controls.Form.FormItemCustomSkin");
	fontFamily:"OpenSansRegular";
	
}

s|TextInput
{
	skinClass: ClassReference("com.ebillity.skin.ui.controls.TextInputSkin");
	fontFamily:  "OpenSansRegular";
	
}
s|ComboBox s|TextInput
{
	skinClass: ClassReference("com.ebillity.skin.ui.controls.TextInputSkin");
	fontFamily:  "OpenSansRegular";
}

controls|ColorButton
{
	color: #ffffff;
	fontSize: 18;
	skinClass: ClassReference("com.ebillity.skin.ui.controls.ColorButtonSkin");
}
controls|ColorIconButton
{
	skinClass:ClassReference("com.ebillity.skin.ui.controls.Buttons.colorIconButton")
}
s|ComboBox
{
	skinClass:ClassReference("com.ebillity.skin.ui.controls.combobox.CustomComboBoxSkin");
}

mx|DateField
{
	skin:Embed("/images/calendarIconModified.png");
	upSkin:ClassReference("null");
	overSkin:ClassReference("null");
	downSkin:ClassReference("null");
	disabledSkin:ClassReference("null");
}
mx|DateField mx|TextInput
{
	fontFamily: "OpenSansRegularNoCFF";
	borderColor: #c1c3c5;
/*	borderAlpha:0.5;
	*/
	borderSkin:ClassReference("mx.skins.halo.HaloBorder");
	borderStyle:solid;
	borderThickness:2;
	dropShadowEnabled:false;
	
	
	
	
}
.customDateChooser
{
	borderColor: #939598;
	borderAlpha:0.8;
	borderThickness: 2;
	fontFamily: "OpenSansRegularNoCFF"
}
 mx|TextInput, mx|UIComponent
{
	fontFamily: "OpenSansRegularNoCFF";
}

s|VScrollBar
{
	skinClass:ClassReference("com.ebillity.skin.ui.controls.scrollBar.customVScrollBarSkin");
}

s|TextArea
{
	skinClass:ClassReference("com.ebillity.skin.ui.controls.CustomTextAreaskin");
}
s|CheckBox
{
	skinClass:ClassReference("com.ebillity.skin.ui.controls.CustomChekBoxSkin");
}

controls1|TimeEntryFormSkin s|Form
{
	skinClass:ClassReference("com.ebillity.skin.ui.controls.Form.CustomFormItemSkinModified");
}
controls1|TimeEntryFormSkin s|FormItem
{
	skinClass:ClassReference("com.ebillity.skin.ui.controls.Form.CustomFormItemSkinModified")
}

mx|ToolTip
{
	cornerRadius:0;
	
	backgroundColor:#808285;
	color:white;
	dropShadowVisible:false;
	fontSize:14;
	borderSkin:ClassReference("com.ebillity.skin.ui.controls.ToolTipCustomSkin");
}


